@use '../abstracts/variables' as v;

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  color: v.$c-dark-blue;
  line-height: 1.5;
  background-color: v.$c-white;
}

.container {
  width: 100%;
  max-width: v.$container-width;
  margin: 0 auto;
  padding: 0 16px;
}
